{% extends 'base_ultima_pregunta.html' %}
{% block title %} Occasional: Question 3 {% endblock %}
{% block num_preg %}3/3{% endblock %}

{% block pregunta %} I recommend that it be a light, young wine with a certain level of sweetness {% endblock %}

{% block content %}
	{% for gust, traduccio in gustos %}
		<div>
			<label>
				<input type="checkbox" name="Gust" value="{{ gust }}" {% if traduccio in gustos_ocasional %} checked {% endif %}/>
				{{ traduccio }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('ocasional.pregunta_2') }}"><b>Previous</b></a> {% endblock %}