{% extends 'base_ultima_pregunta.html' %}
{% block title %} Ocasional: Pregunta 3 {% endblock %}
{% block num_preg %}3/3{% endblock %}

{% block pregunta %} Et recomano que sigui un vi lleuger, jove amb un cert nivell de dolçor {% endblock %}

{% block content %}
	{% for gust, traduccio in gustos %}
		<div>
			<label>
				<input type="checkbox" name="Gust" value="{{ gust }}" {% if traduccio in gustos_ocasional %} checked {% endif %}/>
				{{ traduccio }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('ocasional.pregunta_2') }}"><b>Anterior</b></a> {% endblock %}