{% extends 'base_recomanacio.html' %}
{% block title %} Occasional: Recommendation {% endblock %}

{% block text1 %} Based on what you have told us, we recommend the following wines {% endblock %}
{% block content %}
	{% if data %}
		<table id="wineTable_1" border="2">
			<thead>
				<tr>
					<th style="text-align:left">Nom</th>
					<th>Type</th>
					<th>Country</th>
					<th>Region</th>
					<th>Taste</th>
					<th>Alcohol</th>
					<!--<th>Food Pairing</th>-->
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
			{% for row in data[:] %}
				<tr>
					<td style="text-align:left"><a href="{{ row['Link'] }}" target="_blank">{{ row['Name'] }}</a></td>
					<td>{{ row['Type'] }}</td>
					<td>{{ row['Country'] }}</td>
					<td>{{ row['Region'] }}</td>
					<td>{{ row['Taste'] }}</td>
					<td>{{ row['Alcohol'] }}%</td>
					<!--<td>{{ row['FoodParing'] }}</td>-->
					<td>{{ row['Price'] }}€</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		Sorry, we don't have any wines that match all your preferences!
	{% endif %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('ocasional.pregunta_' + last) }}"><b>Previous</b></a> {% endblock %}