{% extends 'base_preguntes.html' %}
{% block title %} Expert: Question 2 {% endblock %}
{% block num_preg %}2/7{% endblock %}

{% block pregunta %} We recommend that it be a wine from one of these countries, which are considered to be among the most renowned {% endblock %}

{% block content %}
	{% for pais, traduccio in paisos %}
		<div>
			<label>
				<input type="checkbox" name="Pais" value="{{ pais }}" {% if traduccio in reconeguts %} checked {% endif %}/>
				{{ traduccio }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('expert.pregunta_1') }}"><b>Previous</b></a> {% endblock %}