{% extends 'base_preguntes.html' %}
{% block title %} Expert: Question 6 {% endblock %}
{% block num_preg %}6/7{% endblock %}

{% block pregunta %} Do you have a special interest in any of these years? {% endblock %}

{% block content %}
	{% for any in anys %}
		<div>
			<label>
				<input type="checkbox" name="Any" value="{{ any }}"/>
				{{ any }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('expert.pregunta_5') }}"><b>Previous</b></a> {% endblock %}