{% extends 'base_preguntes.html' %}
{% block title %} Expert: Pregunta 3 {% endblock %}
{% block num_preg %}3/7{% endblock %}

{% block pregunta %} Et recomano que sigui un vi d'alguna de les següents regions, que tenen un alt prestigi internacional {% endblock %}

{% block content %}
	{% for regio in regions %}
		<div>
			<label>
				<input type="checkbox" name="Regio" value="{{ regio }}"/>
				{{ regio }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('expert.pregunta_2') }}"><b>Anterior</b></a> {% endblock %}