{% extends 'base_preguntes.html' %}
{% block title %} Expert: Question 5 {% endblock %}
{% block num_preg %}5/7{% endblock %}

{% block pregunta %} Do you have a preference for any of these denominations of origin? {% endblock %}

{% block content %}
	{% for den_orig in dens_orig %}
		<div>
			<label>
				<input type="checkbox" name="DO" value="{{ den_orig }}"/>
				{{ den_orig }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block previous %} <a class="previous" href="{{ url_for('expert.question_4') }}"><b>Previous</b></a> {% endblock %}