{% extends 'base_preguntes.html' %}
{% block title %} Expert: Question 3 {% endblock %}
{% block num_preg %}3/7{% endblock %}

{% block pregunta %} We recommend that it be a wine from one of the following regions, which have high international prestige {% endblock %}

{% block content %}
	{% for regio in regions %}
		<div>
			<label>
				<input type="checkbox" name="Regio" value="{{ regio }}"/>
				{{ regio }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('expert.pregunta_2') }}"><b>Previous</b></a> {% endblock %}