{% extends 'base_preguntes.html' %}
{% block title %} Expert: Qustion 4 {% endblock %}
{% block num_preg %}4/7{% endblock %}

{% block pregunta %} We recommend the following grape varieties that are considered by many experts to be the noblest varieties {% endblock %}

{% block content %}
	{% for raim in raims %}
		<div>
			<label>
				<input type="checkbox" name="Raim" value="{{ raim }}" {% if raim in nobles %} checked {% endif %}/>
				{{ raim }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('expert.pregunta_3') }}"><b>Previous</b></a> {% endblock %}