<!DOCTYPE html>
<html lang="cat">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Recomanador - {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/preguntes.css') }}">
	</head>
	<body>
		<h1>Pregunta {% block num_preg %}{% endblock %}:</h1>
		<fieldset style="display: inline-flex;">
			<legend><h2>{% block pregunta %}{% endblock %}</h2></legend>
			<form action="" method="post">
				<div>
					<label style="font-size: 20px; color: #5a5757">
						<input type="checkbox" id="select-all"/>
						- Selecciona tots -
					</label>
				</div>
				{% block content %}
				{% endblock %}
				<input id="submit_button" type="submit" name="Recomana" value="Recomana'm">
			</form>
		</fieldset>
        {% if error %}
			<p> Selecciona almenys una opció abans de continuar</p>
		{% endif %}
		<footer>
			{% block anterior %}{% endblock %}
			<a href="{{ url_for('index') }}"><b>Tornar a l'inici</b></a>
		</footer>
		<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
	</body>
</html>