{% extends 'base_ultima_pregunta.html' %}
{% block title %} Pragmàtic: Pregunta 4 {% endblock %}
{% block num_preg %}4/4{% endblock %}

{% block pregunta %} Vols acompanyar el vi amb un dels següents menjars? {% endblock %}

{% block content %}
	{% for menjar in menjars %}
		<div>
			<label>
				<input type="checkbox" name="Menjar" value="{{ menjar }}"/>
				{{ menjar }}
			</label> 
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('pragmatic.pregunta_3') }}"><b>Anterior</b></a> {% endblock %}