{% extends 'base_preguntes.html' %}
{% block title %} Pragmatic: Question 1 {% endblock %}
{% block num_preg %}1/4{% endblock %}

{% block pregunta %} What category of wine are you looking for? {% endblock %}

{% block content %}
	<div>
		<label>
			<input type="checkbox" name="Tipus" value="Red"/>
			Black
		</label>
	</div>
	<div>
		<label>
			<input type="checkbox" name="Tipus" value="White"/>
			White
		</label>
	</div>
	<div>
		<label>
			<input type="checkbox" name="Tipus" value="Rose"/>
			Rosé
		</label>
	</div>
	<div>
		<label>
			<input type="checkbox" name="Tipus" value="Sparkling"/>
			Sparkling
		</label>
	</div>
{% endblock %}

{% block anterior %} <a class="anterior off"><b>Previous</b></a> {% endblock %}