{% extends 'base_preguntes.html' %}
{% block title %} Pragmatic: Question 3 {% endblock %}
{% block num_preg %}3/4{% endblock %}

{% block pregunta %} What type of wine do you like? {% endblock %}

{% block content %}
	{% for gust, traduccio in gustos %}
		<div>
			<label>
				<input type="checkbox" name="Gust" value="{{ gust }}"/>
				{{ traduccio }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('pragmatic.pregunta_2') }}"><b>Previous</b></a> {% endblock %}