{% extends 'base_ultima_pregunta.html' %}
{% block title %} Pragmatic: Question 4 {% endblock %}
{% block num_preg %}4/4{% endblock %}

{% block pregunta %} Do you want to accompany the wine with one of the following foods? {% endblock %}

{% block content %}
	{% for menjar in menjars %}
		<div>
			<label>
				<input type="checkbox" name="Menjar" value="{{ menjar }}"/>
				{{ menjar }}
			</label> 
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('pragmatic.pregunta_3') }}"><b>Previous</b></a> {% endblock %}