{% extends 'base_preguntes.html' %}
{% block title %} Pragmatic: Question 2 {% endblock %}
{% block num_preg %}2/4{% endblock %}

{% block pregunta %} In which price range would you like to receive recommendations? {% endblock %}

{% block content %}
	{% for categoria, text in preu %}
		<div>
			<label>
				<input type="checkbox" name="Preu" value="{{ categoria }}" {% if categoria == "low" or categoria == "medium"%} checked {% endif %}/>
				{{ text }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('pragmatic.pregunta_1') }}"><b>Previous</b></a> {% endblock %}