{% extends 'base_preguntes.html' %}
{% block title %} Curious: Question 4 {% endblock %}
{% block num_preg %}4/6{% endblock %}

{% block pregunta %} We recommend that it be a wine from one of the following regions, which are emerging regions with singularities that capture the essence of the region {% endblock %}

{% block content %}
	{% for regio in regions %}
		<div>
			<label>
				<input type="checkbox" name="Regio" value="{{ regio }}"/>
				{{ regio }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('curios.pregunta_3') }}"><b>Previous</b></a> {% endblock %}