{% extends 'base_preguntes.html' %}
{% block title %} Curious: Question 2 {% endblock %}
{% block num_preg %}2/6{% endblock %}

{% block pregunta %} We recommend choosing a wine with a low or medium alcohol level, as the newest and lesser-known wines I can offer have this characteristic. {% endblock %}

{% block content %}
	{% for categoria, text in alcohol %}
		<div>
			<label>
				<input type="checkbox" name="Alcohol" value="{{ categoria }}" {% if categoria == "low" or categoria == "medium" %} checked {% endif %}/>
				{{ text }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('curios.pregunta_1') }}"><b>Previous</b></a> {% endblock %}