{% extends 'base_preguntes.html' %}
{% block title %} Curious: Question 3 {% endblock %}
{% block num_preg %}3/6{% endblock %}

{% block pregunta %} We recommend that it be a wine from one of these countries, which are emerging countries in the wine world, with interesting novelties {% endblock %}

{% block content %}
	{% for pais, traduccio in paisos %}
		<div>
			<label>
				<input type="checkbox" name="Pais" value="{{ pais }}" {% if traduccio in emergents %} checked {% endif %}/>
				{{ traduccio }}
			</label>
		</div>
	{% endfor %}
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('curios.pregunta_2') }}"><b>Previous</b></a> {% endblock %}