{% extends 'base_recomanacio.html' %}
{% block title %} Curious: Recommendation {% endblock %}

{% block text1 %} Based on what you have told us, we recommend the following wines {% endblock %}

{% block content %}
	{% if data %}
		<table border="2">
			<thead>
				<tr>
					<th style="text-align:left">Nom</th>
					<th>Type</th>
					<th>Country</th>
					<th>Region</th>
					<th>Grape Variety</th>
					<th>Alcohol</th>
					<!--<th>Food Pairing</th>-->
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
			{% for row in data[:10] %}
				<tr>
					<td style="text-align:left"><a href="{{ row['Link'] }}" target="_blank">{{ row['Name'] }}</a></td>
					<td>{{ row['Type'] }}</td>
					<td>{{ row['Country'] }}</td>
					<td>{{ row['Region'] }}</td>
					<td>{{ row['GrapeVariety'] }}</td>
					<td>{{ row['Alcohol'] }}%</td>
					<!--<td>{{ row['FoodParing'] }}</td>-->
					<td>{{ row['Price'] }}€</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		Sorry, we don't have any wines that match all your preferences!
	{% endif %}
{% endblock %}

{% block extra %}
	<span>If you are interested in learning more about wineries or if you want to consult guides to understand wine, you can check out our 
		<a href="https://disndis.com/blogs/blog" target="_blank">blog</a>!
	</span>
{% endblock %}

{% block anterior %} <a class="anterior" href="{{ url_for('curios.pregunta_' + last) }}"><b>Previous</b></a> {% endblock %}